*{
    box-sizing: border-box;
}


.top-container{
    border:20px;
    font-size: 50px;
    border-style: solid;
    border-color: burlywood;
    font-family: sans-serif;
    background-color: white;
}

.top-container h2{
    font-size: 20px;
    color: green;
    left: 50px;
}
#timeId {
    margin-bottom: 50px;
    float: right; 
    font-size: 30px;
    
    
}
.high-button{
    border-style: none;
}

#main-container {
    margin-bottom: 30vh;
   
}

#main-container h1{
    text-align: center;
}

#main-container button{
    
    display: block;
    margin: 0 auto; 
}

#question-container{
    display:flex;
    align-items: center;
    text-align: center
    ;
    margin: top 30px;
}

